node_modules/
.env
secrets/
logs/
*.log
.docker/
.DS_Store
Thumbs.db
client/build/
dist/
.env.example

# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl